:root {
  --dark: #1a2f38;
  --green: #2a9d8f;
  --bright-green: #7eddd2;
  --yellow: #e9c46a;
  --orange: #f4a261;
  --red: #e45c3a;
}

html {
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--yellow);
  background-image: linear-gradient(to bottom right, var(--yellow), white);
  margin: 40px;
  background-attachment: fixed;
  letter-spacing: -1px;
  color: var(--dark);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  width: 500px;
  height: 500px;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 2.5em;
  padding-bottom: 40px;
}

.rounds {
  font-size: 2em;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main > * {
  flex: 0 1 0;
}

.player {
  font-size: 1.5em;
  text-align: center;
}

.player-s,
.computer-selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.score {
  font-size: 4em;
}

.item,
.item-c {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background: var(--green);
  border-radius: 20px;
  box-shadow: 5px 10px 8px #888888;
  height: 100px;
  width: 100px;
}

img {
  padding: 20px;
  width: 100px;
}
.selected {
  background: var(--bright-green);
}

/* won the round */
@keyframes pulse {
  0%,
  100% {
    background-color: var(--red);
  }
  50% {
    background-color: var(--orange);
  }
}

.won {
  animation: pulse 0.5s infinite;
}

/* winnner of the game */
@keyframes winner {
  0%,
  100% {
    color: var(--dark);
  }
  50% {
    color: var(--green);
  }
}

.winner {
  animation: winner 0.5s infinite;
}

.restart {
  display: flex;
  justify-content: center;
  padding: 20px;
}

button {
  background: var(--red);
  border: none;
  border-radius: 10px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.3rem;
  width: 150px;
  height: 50px;
}
